<div class="media" id="item_<%= item.id %>">
  <div class="media-body">
    <h4 class="media-heading">
      <%= item.name %>
      <%= link_to "", [current_user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
      <small>Item will be automatically deleted in <%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %></small>
    </h4>
  </div>
</div>
