<div class="media" id="item_<%= item.id %>">
  <div class="media-body">
    <h4 class="media-heading">
      <%= item.name %>
      <%= link_to "", [current_user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
    </h4>
  </div>
</div>
